:root {
    --mainColor: #FF8080;
    --secondaryColor: #80FFA4;
    --tertiaryColor: #ECBC62;
    --darkColor: #403434;
    --white: white;
    --successColor: #2C7F4C;
    --warningColor: #F88E2A;
    --dangerColor: #F84949;
}

/* GENERAL */

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    margin: 0 auto;
    max-width: 100%;
    font-family: "Inter", sans-serif;
}

.flex {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.60);
    min-height: 80vh;
    padding: 40px 30px;
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: "Andika", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: xx-large;
    color: var(--mainColor);
    text-align: center;
    margin: 20px 0;
}

p {
    color: var(--darkColor);
}

/* NAVBAR */

.navbar {
    background-color: var(--white);
    justify-content: space-between;
    color: var(--mainColor);
}

.navbar a {
    padding: 20px;
    background-color: var(--white);
    transition: 300ms;
}

.navbar a:hover {
    background-color: var(--mainColor);
    color: var(--white);
}

.logo {
    font-size: x-large;
}

.navbar .logo:hover {
    background-color: var(--white);
    color: var(--secondaryColor);

}

/* PROFESSEURS */

article.flex {
    align-items: baseline;
}

.professeur.flex {
    width: 260px;
    background-color: var(--white);
    margin: 10px;
    overflow: hidden;
    border-radius: 2%;
}

.professeur img {
    width: 100%;
    object-fit: contain;
}

.infoCard.flex {
    min-height: 240px;
    flex-flow: column wrap;
    padding: 10px 20px;
    align-items: baseline;
    justify-content: space-between;
}

.infoCard p {
    line-height: 1.6;
}

.infoCard button {
    padding: 10px 20px;
}

/* FORMULAIRES */

form.flex {
    flex-flow: column wrap;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 500px;
}

form label {
    margin: 20px;
}

form input {
    padding: 10px;
}

/* FOOTER */

footer {
    height: 20vh;
    text-align: center;
    background-color: var(--white);
}

footer p {
    position: relative;
    top: 45%;
    color: var(--tertiaryColor);
}